/* * {
    box-sizing: border-box;
} */


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#calc_container {
    display: grid;
    border: 2px solid black;
    /* max-width: 600px !important;
    max-height: 600px !important;
    min-width: 600px !important;
    min-height: 600px !important; */
    width: 300px !important;
    height: 400px !important;
}

.calc-line{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.calc-button {
    background-color: red;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.calc-button:hover{
    background-color: darkgray;
    cursor: pointer;
}

#calc_display{
    padding-right: 10px;
    justify-content: right;
    display: flex;
    align-items: center;
    min-height: 4vh;
    font-size: 30px;
    letter-spacing: 1px;
}

.opActive{
    background-color: blue;
}

.calc-0 {
    grid-column: span 2;
}

.calc-display__result{
    color: green;
}

