/* * {
    box-sizing: border-box;
} */


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#calc_container {
    display: grid;
    background-color: rgb(231, 220, 203);
    grid-gap: 2px;
    border: 5px solid rgb(175, 134, 79);
    /* max-width: 600px !important;
    max-height: 600px !important;
    min-width: 600px !important;
    min-height: 600px !important; */
    width: 300px !important;
    height: 400px !important;
}

.calc-line {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(4, 1fr);
}

.calc-button {
    background-color: rgb(173, 208, 179);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.calc-button:hover {
    background-color: rgb(209, 209, 209);
    cursor: pointer;
}

#calc_display {
    padding-right: 10px;
    justify-content: right;
    display: flex;
    align-items: center;
    min-height: 4vh;
    font-size: 30px;
    letter-spacing: 1px;
    background-color: rgb(254, 252, 240);
}

.opActive {
    background-color: rgb(209, 209, 209);
}

.calc-0 {
    grid-column: span 2;
}

.calc-display__result {
    color: green;
}